<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Terminos y Condiciones del Servicio BANCOEMPLEOJAC
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
                El servicio BANCOEMPLEOJAC se presta sin animo de lucro y con el soporte de la comunidad
                ya que el sistema es prestado por las diferentes Junta de Acción Comunal de cada Municipio
                que se registra y organiza para poder prestar el servicio de Bolsa de Empleo.
      </div>
    </div>
  </div>
 </div>
@code {
    
}
