@page "/empleadocomponente"
<div class="card">
    <div class="card-header align-content-center">
        <h3>Empleados</h3>
    </div>
    <div class="card-body">

        Algunos beneficios de este enfoque incluyen:
        <div>
            1. Acceso a una amplia gama de oportunidades: Los empleados pueden explorar una variedad de oportunidades laborales al acceder a plataformas en línea que consolidan ofertas de empleo de diversas industrias y ubicaciones geográficas.
        </div>
        <div>
            2. Facilidad de aplicación: Registrar un perfil en un sitio web de empleo y aplicar a trabajos en línea es conveniente y ahorra tiempo. Los empleados pueden enviar sus currículums y cartas de presentación de manera rápida y eficiente, sin tener que desplazarse físicamente a diferentes lugares.
        </div>
        <div>
            3. Visibilidad para reclutadores: Al tener un perfil en línea, los empleados pueden aumentar su visibilidad para los reclutadores y empleadores que buscan talento. Esto puede facilitar que los empleadores encuentren candidatos que se ajusten a sus necesidades.
        </div>
        <div>
            4. Seguimiento del progreso de la aplicación: Los empleados pueden realizar un seguimiento fácilmente del estado de sus aplicaciones y recibir notificaciones sobre actualizaciones o decisiones de los empleadores. Esto proporciona una mayor transparencia en el proceso de selección.
        </div>
        <div class="card-footer border-light">
            Aprovecha las ventajas de la tecnología para mejorar sus procesos de contratación, lo que les permite encontrar EMPLEO de manera más eficiente y efectiva.
        </div>
    </div>

</div>
@code {

}
