@page "/empleocomponente"
<div class="card">
    <div class="card-header align-content-center">
        <h3>Empleos</h3>
    </div>
    <div class="card-body">

        Algunos beneficios de este enfoque incluyen:
        <div>
            1. **Mayor alcance**: Al publicar empleos en línea, los empleadores pueden llegar a una audiencia más amplia de posibles candidatos en comparación con los métodos tradicionales como los anuncios impresos o las ferias de empleo.
        </div>
        <div>
            2. **Eficiencia en la gestión de solicitudes**: Las plataformas en línea permiten a los empleadores administrar y filtrar rápidamente las solicitudes recibidas, lo que ahorra tiempo en comparación con revisar manualmente grandes pilas de currículums.
        </div>
        <div>
            3. **Seguimiento del proceso de reclutamiento**: Estas plataformas suelen tener funciones integradas para realizar un seguimiento del proceso de reclutamiento, desde la solicitud inicial hasta la contratación final, lo que facilita la gestión de múltiples candidatos.
        </div>
        <div>
            4. **Automatización de tareas repetitivas**: Los empleadores pueden aprovechar la automatización para realizar tareas repetitivas como el envío de correos electrónicos de confirmación o recordatorios a los candidatos, lo que libera tiempo para actividades más estratégicas.
        </div>
        <div class="card-footer border-light">
            Aprovecha las ventajas de la tecnología para mejorar sus procesos de contratación, lo que les permite encontrar talento de manera más eficiente y efectiva.
        </div>
    </div>

</div>

@code {

}
