@inject ICarritoServicio carritoServicio
@inject IJacServicio jacServicio
@implements IDisposable

@inject SweetAlertService Swal;
@inject NavigationManager _navManager;
@using BANCOEMPLEOJAC.WebAssembly.Extension;
@using BANCOEMPLEOJAC.WebAssembly.Servicio.Interfase
@using CurrieTechnologies.Razor.SweetAlert2
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject AuthenticationStateProvider autenticacionProvider;
<div class="container d-sm-inline-flex d-md-inline-flex">
</div>
<nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-toggleable-s 
navbar-toggleable-md avbar-toggleable-lg navbar-light bg-light">

    <div class="container">
        <div>
            <AuthorizeView>
                <Authorized>
                    <h5>
                        <span class="@NavMenuCssClass d-flex flex-column" runat="server">
                            <a href="#" style="text-decoration: none; color: inherit; font-weight: bold;">
                                BANCOEMPLEOJAC
                            </a>
                        </span>
                    </h5>
                    <h6 style="font-size: 0.75rem;">@jac.Nombre</h6>
                </Authorized>
                <NotAuthorized>
                    <h5>
                        <span class="@NavMenuCssClass d-flex flex-column" runat="server">
                            <a href="#" style="text-decoration: none; color: inherit; font-weight: bold;">
                                BANCOEMPLEOJAC
                            </a>
                        </span>
                    </h5>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex d-md-inline-flex d-lg-inline-flex justify-content-between">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mb-md-0 ms-lg-4">
                <AuthorizeView Roles="1">
                    <Authorized>
                        <li class="nav-item"><NavLink class="nav-link" href="jacs"> JACS</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="usuarios"> Usuarios</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="empleos"> Empleos</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="servicios"> Productos</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="ofertasempleos"> Empleos<br />Público</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="ofertasservicios"> Productos<br />Público</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="contratosempleos"> Empleos<br />Contratados</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="contratosservicios"> Productos<br />Contratados</NavLink></li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="2">
                    <Authorized>
                        <li class="nav-item"><NavLink class="nav-link" href="jacs"> JACS</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="usuarios"> Usuarios</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="empleos"> Empleos</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="servicios"> Productos</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="ofertasempleos"> Empleos<br />Público</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="ofertasservicios"> Productos<br />Público</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="contratosempleos"> Empleos<br />Contratados</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="contratosservicios"> Productos<br />Contratados</NavLink></li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="3">
                    <Authorized>
                        <li class="nav-item"><NavLink class="nav-link" href="jacs"> JACS</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="usuarios"> Usuarios</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="empleos"> Empleos</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="servicios"> Productos</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="ofertasempleos"> Empleos<br />Público</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="ofertasservicios"> Productos<br />Público</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="contratosempleos"> Empleos<br />Contratados</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="contratosservicios"> Productos<br />Contratados</NavLink></li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="4">
                    <Authorized>
                        <li class="nav-item"><NavLink class="nav-link" href="usuarios"> Usuarios</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="empleos"> Empleos</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="servicios"> Productos</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="ofertasempleos"> Empleos<br />Público</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="ofertasservicios"> Productos<br />Público</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="contratosempleos"> Empleos<br />Contratados</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="contratosservicios"> Productos<br />Contratados</NavLink></li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="5">
                    <Authorized>
                        <li class="nav-item"><NavLink class="nav-link" href="empleos">Empleos</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="servicios">Servicios</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="ofertasempleos"> Empleos<br />Público</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="ofertasservicios"> Productos<br />Público</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="contratosempleos"> Empleos<br />Contratados</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="contratosservicios"> Productos<br />Contratados</NavLink></li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item"><NavLink class="nav-link" href="empleadorcomponente"> Empleadores</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="empleadocomponente"> Empleados</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="empleocomponente"> Empleos</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="serviciocomponente"> Servicios</NavLink></li>
                    </NotAuthorized>
                   
                </AuthorizeView>

            </ul>

            <AuthorizeView>
                <Authorized>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <a href="/usuario/@context.User.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).Select(c => c.Value).SingleOrDefault().ToString() " style="text-decoration: none; color: inherit; font-weight: bold;">
                            <span class="navbar-text me-3 " style="font-size: 0.9rem;">
                                @context.User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()
                                <br />
                                @context.User.Claims.Where(c => c.Type == ClaimTypes.Surname).Select(c => c.Value).SingleOrDefault()
                                </span>
                        </a>
                        <br />
                    </ul>

                </Authorized>
            </AuthorizeView>

            <AuthorizeView>
                <Authorized>
                    <a class="btn btn-outline-dark ms-auto ms-md-0 me-3" href="/canasta">
                        <i class="bi-cart-fill me-1"></i>
                        Canasta
                        <span class="badge bg-dark text-white ms-1 rounded-pill">@mostrarCantidadCarrito()</span>
                    </a>
                    <button class="btn btn-outline-dark ms-auto ms-md-0 me-3" type="button" @onclick="CerrarSesion">Salir</button>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-outline-dark ms-auto ms-md-0 me-3" href="/entrada">Iniciar sesion</a>
                </NotAuthorized>
            </AuthorizeView>

        </div>
     </div>


</nav>
@code {
    // HECHO : SE REORGANIZO EL MENU PARA QUE MOSTRARA EL NOMBRE DE LA JAC DEBAJO DEL TITULO BANCOEMPLEOJAC Y EL NOMBRE DE USUARIO. INICIO: 12:00AM 26/FEB/2024 FIN: 26/FEB/2024 12:58AM
    // HECHO : QUE SE VEA EL NOMBRE DE LA JAC A LA QUE PERTENECE EL USUARIO 23/FEB/2024 2:00PM INICIO : 11:00PM 23/FEB/2024 : FIN 12:00AM 24/FEB/2024
    // POR HACER : HACER FILTRO DE SERVICIOS CREADOS POR EL USUARIO 23/FEB/2024 2:00PM
    // HECHO : QUE EL USUARIO PUEDA EDITAR SU INFORMACIÓN DESDE UN ENLACE DE SU NOMBRE DEL MENU : FECHA : 26/FEB/2024 9:50PM : FIN : 15/MAR/2024 11:04PM
    private List<JacDTO> listaJac = new List<JacDTO>();
    private JacDTO jac = new JacDTO();
    private string Localidad { get; set; } = "";

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async void OnInitialized()
    {
        await base.OnInitializedAsync();

        var authState = await autenticacionProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        Localidad = user.Claims.Where(c => c.Type == ClaimTypes.Locality).Select(c => c.Value).SingleOrDefault();

        if (!string.IsNullOrEmpty(Localidad))
        {
            await ObtenerJac(int.Parse(Localidad));
        }
        carritoServicio.MostrarItems += StateHasChanged;
    }

    private async Task ObtenerJacs(string Valor = "")
    {
        var response = await jacServicio.Lista(Valor);

        if (response.EsCorrecto!)
        {
            listaJac = (List<JacDTO>)response.Resultado!;
        }
        else
        {
            listaJac = new List<JacDTO>();
        }
    }
    private async Task ObtenerJac(int id)
    {
        var response = await jacServicio.Obtener(id);

        if (response.EsCorrecto!)
        {
            jac = response.Resultado!;
        }
        else
        {
            jac = new JacDTO();
        }
        StateHasChanged();
    }

    public void Dispose()
    {
        carritoServicio.MostrarItems -= StateHasChanged;
    }

    private int mostrarCantidadCarrito()
    {
        return carritoServicio.CantidadProductos();
    }

    private async Task CerrarSesion()
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Desea Salir?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si",
                CancelButtonText = "No",
            });
        if (result.IsConfirmed)
        {
            var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
            await autenticacionExt.ActualizarestadoAutenticacion(null);
            _navManager.NavigateTo("/", true);
        }
    }
}
