@page "/serviciocomponente"
<div class="card">
    <div class="card-header align-content-center">
        <h3>Servicios o Productos</h3>
    </div>
    <div class="card-body">

        Algunos beneficios de este enfoque incluyen:
        <div>
            1. <b>Mayor alcance</b>: Al publicar servicios y productos en el sistema BANCOEMPLEOJAC, los empleadores y empleados que publiquen productos y/o servicios pueden llegar a una audiencia más amplia y segura de posibles clientes en comparación con los métodos tradicionales como los anuncios impresos inseguros.
        </div>
        <div>
            2. <b>Eficiencia en la gestión de compra</b>: BANCOEMPLEAOJAC en línea permiten a los empleadores o empleados administrar y filtrar rápidamente las solicitudes de servicios y/o productos recibidas, lo que da inmediatez a los resultados de compras para los clientes igualmente.
        </div>
        <div>
            3. <b>Seguimiento del proceso de compra</b>: Se puede hacer seguimiento a la compra de productos y/o servicios, desde la solicitud inicial hasta la contratación final, lo que facilita la gestión de múltiples productos y/o servicios.
        </div>
        <div>
            4. <b>Mayor seguridad en el requerimiento de los Servicios o Productos</b>: Ya que TODOS los integrantes del sistema BANCOEMPLEOJAC se registrán con el aval de la Junta de Acción Comunal de residencia.  Se puede tener una mayor seguridad que los servicios y productos tendran el respaldo de la comunidad, ya que serán publicos tanto para EMPLEADOS como EMPLEADORES que se registren en el sistema BANCOEMPLEOJAC.
        </div>
        <div class="card-footer border-light">
            <b>Aprovecha las ventajas de la tecnología para mejorar sus procesos de venta y/o contratación de productos, lo que les permite encontrar los productos de manera más eficiente y efectiva.</b>
        </div>
    </div>

</div>

@code {

}
