@page "/serviciocomponente"
<div class="card">
    <div class="card-header align-content-center">
        <h3>Servicios o Productos</h3>
    </div>
    <div class="card-body">

        Algunos beneficios de este enfoque incluyen:
        <div>
            1. **Mayor alcance**: Al publicar servicios y productos en el sistema BANCOEMPLEOJAC, los empleadores y empleados que publiquen productos y/o servicios pueden llegar a una audiencia más amplia de posibles clientes en comparación con los métodos tradicionales como los anuncios impresos.
        </div>
        <div>
            2. **Eficiencia en la gestión de compra**: BANCOEMPLEAOJAC en línea permiten a los empleadores o empleados administrar y filtrar rápidamente las solicitudes de servicios y/o productos recibidas, lo que da inmediatez a los resultados de compras para los clientes igualmente.
        </div>
        <div>
            3. **Seguimiento del proceso de compra**: Se puede hacer seguimiento a la compra de productos y/o servicios, desde la solicitud inicial hasta la contratación final, lo que facilita la gestión de múltiples productos y/o servicios.
        </div>
        <div class="card-footer border-light">
            Aprovecha las ventajas de la tecnología para mejorar sus procesos de venta y/o contratación de productos, lo que les permite encontrar los productos de manera más eficiente y efectiva.
        </div>
    </div>

</div>

@code {

}
