<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Terminos y Condiciones<br />Servicio BANCOEMPLEOJAC AFILIADO
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          El servicio BANCOEMPLEOJAC es prestado EXCLUSIVAMENTE para personas naturales AFILIADAS a las Juntas de Acción Comunal 
          de Municipios y veredas del territorio de Colombia.  No es para Personas Jurídicas, ni para elaborar bolsas particulares 
          de empleo, sino para insentivar el empleo individual local, y poder ofrecer servicios y/o productos de manufactura artesanal y del
          hogar como primer fuente de empleo, emprendimiento y ofrecimiento de productos y/o servicios. <br /><br />
                El servicio BANCOEMPLEOJAC se presta sin animo de lucro y con el soporte de la comunidad
                ya que el sistema es prestado por las diferentes Junta de Acción Comunal de cada Municipio
                que se registra y organiza para poder prestar el servicio de Bolsa de Empleo.<br /><br />
                Al registrarse está aceptando los términos y condiciones de contrato que entre usted como 
                persona natural y BANCOEMPLEOJAC el cual pretende establecer información desde y 
                para personas naturales.
                <br /><br />El Registro en el sistema NO IMPLICA poder hacer uso del registro de EMPLEOS, PRODUCTOS Y/O SERVICIOS.  Ya que CADA USUARIO debe ser autorizado por una persona DEFINIDA, por cada una de las Juntas de Acción Comunal registradas en el sistema, como OPERADOR y responsable del registro de usuarios del sistema BANCOEMPLEOJAC, para que pueda hacer uso del sistema en su totalidad.  Ya sea para registrar EMPLEO o SERVICIO Y/O PRODUCTO. 
                <br /><br />
                Igualmente los empleos, productos y/o servicios ofrecidos aqui deben ser garantizados para la entrega o
                disposición de tiempo para ejecutarlos, ya que adquirirá compromisos con otras personas y <u>no podrá usar
                los servicios BANCOEMPLEOJAC</u> si llega a faltar a los compromisos adquiridos 
                y no cumplidos por cualquiera de las partes.  y <b>PUEDE LLEGAR A TENER IMPLICACIÓN JURÍDICA PARA EL CUMPLIMIENTO DE LOS DEBERES, PRODUCTOS Y/O SERVICIOS OFRECIDOS Y/O ADQUIRIDOS</b> a traves de BANCOEMPLEOJAC.
      </div>
    </div>
  </div>
 </div>
@code {
    
}
