@page "/perfilescargos"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims;

@inject IPerfilCargoServicio perfilcargoServicio
@inject IEmpleoServicio empleoServicio
@inject IToastService toastService
@inject SweetAlertService Swal
@inject AuthenticationStateProvider autenticacionProvider;

@attribute [Authorize(Roles = "1,2,3,4")]


<div class="row justify-content-center  mt-3">
    <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="d-grid gap-1 col-12 mx-auto">
            <a class="btn btn-primary" href="/perfilcargo">Nuevo Pefil o Cargo</a>
        </div>
    </div>
    <div class="col-sm-6 col-md-8 col-xl-9 mb-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar perfil o cargo..." @bind-value="buscar">
            <button class="btn btn-outline-secondary" type="button" @onclick="(async()=> await ObtenerPerfilesCargos(buscar))">
                <i class="oi oi-magnifying-glass"></i>
            </button>
        </div>
    </div>
</div>

<div class="row gx-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-start mt-2">

    @if (lista != null)
    {
        foreach (var item in lista)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <div class="text-center">
                                <i class="oi oi-folder" style="font-size:50px"></i>
                            </div>
                            <div class="text-start">
                                <p class="m-1"><b>Descripción:</b>@item.Descripcion</p>
                            </div>
                            <div class="text-start">
                                <p class="m-1"><b>Características:</b>@item.Requisitos</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="row justify-content-between">
                            <a class="col-5 btn btn-sm btn-outline-primary mt-auto" href="/perfilcargo/@item.IdPerfilCargo"><i class="oi oi-pencil fs-5"></i></a>
                            <!-- Si hay Empleos con este Perfil no puede borrarse -->
@*                             @if (await HayEmpleos(item.IdPerfilCargo))
                                    {
 *@                             <button class="col-5 btn btn-sm btn-outline-danger mt-auto" type="button" @onclick="(async () => await Eliminar(item))">
                                <i class="oi oi-trash fs-5"></i>
                            </button>
@*                             }
 *@                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
</div>

@code {
    // HECHO : QUE SE VEAN EN ORDEN ALFABÉTICO LOS PERFILES O CARGOS FECHA : 27/JUN/2024 5:22PM : FIN : 11/MAR/2024 12:35AM 
    private List<PerfilCargoDTO>? lista = null;
    private string buscar = "";
    private int idUsuario { get; set; }

    private async Task ObtenerPerfilesCargos(string Valor = "")
    {
        var authState = await autenticacionProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        idUsuario = Convert.ToInt32(user.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).Select(c => c.Value).SingleOrDefault().ToString());


        var response = await perfilcargoServicio.Lista(idUsuario, Valor);
        if (response.EsCorrecto)
        {
            lista = (List<PerfilCargoDTO>)response.Resultado!;
        }
        else
        {
            lista = new List<PerfilCargoDTO>();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await ObtenerPerfilesCargos();
    }

    private async Task<bool> HayEmpleos(int IdPerfil)
    {
        var listaEmpleos = empleoServicio.Lista(idUsuario, "").Result.Resultado;
        listaEmpleos = listaEmpleos.Where(c => c.PerfilCargoId == IdPerfil).ToList();
        if (listaEmpleos.Count() == 0)
        {
            return true;
        }
        return false;
    }

    private async Task Eliminar(PerfilCargoDTO modelo)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Esta seguro?",
                Text = $"Eliminar Perfil o Cargo: {modelo.Descripcion}",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si, eliminar",
                CancelButtonText = "No, volver",
            });
        if (result.IsConfirmed)
        {
            var response = await perfilcargoServicio.Eliminar(modelo.IdPerfilCargo);
            if (response.EsCorrecto)
            {
                await ObtenerPerfilesCargos();
                toastService.ShowSuccess("Perfil o Cargo fue eliminada");
            }
            else
            {
                toastService.ShowWarning(response.Mensaje);
            }
        }
    }

}
