@page "/contratosempleos"
<h3>ContratosEmpleos</h3>

@code {
    // VOY : PONER LOS EMPLEOS CONTRATADOS EN LISTADO PARA EL USUARIO EN SESION : 11/MAR/2024 12:22AM
    // VOY : QUE SE PUEDA VER EL DETALLE DE CONTRATACIÓN : 11/MAR/2024 12:22AM
}
